<div *ngIf="householdInfoForm">
    <h4>Step 1 out of 4: <span data-test-id="tab-title">Household Information</span></h4>
    <div [formGroup]="householdInfoForm">
        <div>
            <h5 class="mb-3">Address</h5>
            <div class="formgrid grid">
                <div class="field col">
                    <p-floatlabel variant="in">
                        <input pInputText type="text" id="sitio" class="w-full" formControlName="sitio" />
                        <label for="sitio">Sitio/Purok</label>
                    </p-floatlabel>
                </div>
                <div class="field col">
                    <p-floatlabel variant="in">
                        <input pInputText type="text" id="barangay" class="w-full" formControlName="barangay" />
                        <label for="barangay">Barangay</label>
                    </p-floatlabel>
                </div>
            </div>
            <div class="formgrid grid"> 
                <div class="field col">
                    <p-floatlabel variant="in">
                        <input pInputText type="text" id="city" class="w-full" formControlName="city" />
                        <label for="city">City/Municipality</label>
                    </p-floatlabel>
                </div>
                <div class="field col">
                    <p-floatlabel variant="in">
                        <input pInputText type="text" id="province" class="w-full" formControlName="province" />
                        <label for="province">Province</label>
                    </p-floatlabel>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <p-floatlabel variant="in">
                        <input pInputText type="text" id="householdNumber" class="w-full" formControlName="householdNumber" />
                        <label for="householdNumber">Household Number</label>
                    </p-floatlabel>
                </div>
            </div>
        </div>
        
        <div>
            <h5 class="mb-3">Name of Respondent</h5>
            <div class="formgrid grid">
                <div class="field col">
                    <p-floatlabel variant="in">
                        <input pInputText type="text" id="lastname" class="w-full" formControlName="lastname" />
                        <label for="lastname">Lastname</label>
                    </p-floatlabel>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <p-floatlabel variant="in">
                        <input pInputText type="text" id="firstname" class="w-full" formControlName="firstname" />
                        <label for="firstname">Firstname</label>
                    </p-floatlabel>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <p-floatlabel variant="in">
                        <input pInputText type="text" id="middlename" class="w-full" formControlName="middlename" />
                        <label for="middlename">Middlename</label>
                    </p-floatlabel>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <p-floatlabel variant="in">
                        <p-select inputId="relationshipToHouseholdHead" [options]="releationshipToHouseholdHeadOptions" 
                            optionLabel="title" optionValue="id" class="w-full" formControlName="relationshipToHouseholdHead" />
                        <label for="relationshipToHouseholdHead">Relationship to Household Head</label>
                    </p-floatlabel>
                </div>
                <div class="field col" *ngIf="isRelationshipToHouseholdHeadOthers">
                    <p-floatlabel variant="in">
                        <input pInputText type="text" id="relationshipToHouseholdHeadOthers" class="w-full" formControlName="relationshipToHouseholdHeadOthers" />
                        <label for="relationshipToHouseholdHeadOthers">Please specify relationship to household head</label>
                    </p-floatlabel>
                </div>
            </div>
        </div>

        <div>
            <h5 class="mb-3">Ethnicity</h5>
            <div class="formgrid grid">
                <div class="field col">
                    <p-floatlabel variant="in">
                        <p-select inputId="ethnicity" [options]="ethnicityOptions" optionLabel="title" optionValue="id" class="w-full" formControlName="ethnicity" />
                        <label for="ethnicity">Ethnicity</label>
                    </p-floatlabel>
                </div>
                <div class="field col" *ngIf="hasTribeField">
                    <p-floatlabel variant="in">
                        <input pInputText type="text" id="tribe" class="w-full" formControlName="tribe" />
                        <label for="tribe">Please indicate Tribe</label>
                    </p-floatlabel>
                </div>
            </div>
        </div>
    </div>
</div>

